@keyframes color-change {
    0% {
      color: rgb(224, 14, 49);
    }

    40% {
      color: red;
    }

    60% {
      color: yellow
    }

    80% {
      color: blue;
    }
    
    100% {
      color: rgb(250, 14, 250);
    }
  
  }


body {
    font-family: Comic,  sans-serif; /* La famiglia del font */
    font-size: 14px; /* La dimensione del font principale nei tag <p></p> */
    background-color: #adadc4b2; /* Il colore dello sfondo della pagina web */
    color: #241d1dfd; /* Il colore del testo */ 
}

h1:hover{
    animation: color-change 4s infinite
}

#meteo{
    display:flex
}

@keyframes color-change {
  0% {
    color: rgb(224, 14, 49);
  }

  40% {
    color: red;
  }

  60% {
    color: yellow
  }

  80% {
    color: blue;
  }
  
  100% {
    color: rgb(250, 14, 250);
  }

}
h1{
  color: #0d4140; /* Il colore dell'intestazione */
  font-size: 24px; /* La dimensione del font dell'intestazione */
  font-family: Georgia, serif; /* La famiglia del font usata nell'intestazione */
}

@keyframes color-change {
    0% {
      color: rgb(224, 14, 49);
    }

    40% {
      color: red;
    }

    60% {
      color: yellow
    }

    80% {
      color: blue;
    }
    
    100% {
      color: rgb(250, 14, 250);
    }
  
  }
  Image 1 {
  border-<top>: <5>
  <outset>
  }
<iframe> src="https://www.meteoblue.com/it/tempo/widget/daily/ip_romania_675514?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&windgust=1&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=dark"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px; height: 420px"><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/it/tempo/settimana/ip_romania_675514?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue
    </a>
  </div>
</iframe>
